# Nix generator configuration file for Darkone NixOS Framework (common file)

#==============================================================================
# Global network configuration (headscale + main services)
#==============================================================================

# Global network configuration is converted in attSets to be used in
# your nix configuration through "network.x" special arg.
network:
  domain: "darkone.yt" # Global domain
  default:
    locale: "fr_FR.UTF-8" # Default locale
    timezone: "Europe/Paris" # Default locale
  coordination: # The server with headscale
    enable: true # Enable tailscale clients in zones
    hostname: "hcs" # Headscale Coordination Server
    domain: "headscale" # headscale.domain.tld

#==============================================================================
# Networking zones
#==============================================================================

# AttSets zones and zone (for current zone)
zones:

  # local.darkone.yt private network (10.1)
  local:
    description: "My main network zone"
    locale: "fr_FR.UTF-8"
    timezone: "America/Miquelon"
    ipPrefix: "10.1"
    gateway:
      wan:
        interface: "enp1s0"
      lan:
        interfaces: ["enp2s0", "wlp0s20f0u1u3"]
      vpn:
        ipv4: "100.64.0.2" # To put after register to headscale
  
  # Another zone lan.darkone.yt with a 2nd local network (10.2)
  lan:
    description: "A network for may LAN party"
    locale: "fr_FR.UTF-8"
    timezone: "America/Miquelon"
    ipPrefix: "10.2"
    gateway:
      wan:
        interface: "enp1s0"
      lan:
        interfaces: ["enp2s0"]
      vpn:
        ipv4: "100.64.0.3" # To put after register to headscale

  # All-zones common configuration (merged with each zone)
  common:
    extraHosts: # Non-nixos portable devices
      phone-darkone:
        ip: "5.1"
        name: "Darkone Smartphone"
        mac: "ea:10:53:9d:df:d2"
      phone-alice:
        ip: "5.2"
        name: "Alice Smartphone"
        mac: "30:56:84:20:89:45"

#==============================================================================
# Users
#==============================================================================

# -> Users are common to all zones
# -> profile is the HomeManager profile
# -> groups is used to select related hosts
users:

#------------------------------------------------------------------------------
# Users: real
#------------------------------------------------------------------------------

  # An admin
  darkone:
    uid: 1000
    name: "Darkone"
    email: "darkone@darkone.yt"
    profile: "nix-admin"
    groups: ["zone-local", "global"]

  # A normal user
  alice:
    uid: 1001
    name: "alice"
    profile: "normal"
    groups: ["zone-local", "global"]

#------------------------------------------------------------------------------
# Users: guests & education
#------------------------------------------------------------------------------

  guest:
    uid: 9000
    name: "Guest"
    profile: "normal"
    groups: ["guests", "guest-main"]
  guest-teen:
    uid: 9001
    name: "Guest (teen)"
    profile: "teenager"
    groups: ["guests", "guest-kids"]
  guest-child:
    uid: 9002
    name: "Guest (child)"
    profile: "child"
    groups: ["guests", "guest-kids"]
  guest-baby:
    uid: 9003
    name: "Guest (little child)"
    profile: "baby"
    groups: ["guests", "guest-kids"]
  guest-student:
    uid: 9004
    name: "Invité (étudiant)"
    profile: "student"
    groups: ["guests", "guest-student"]

#==============================================================================
# Hosts
#==============================================================================

# Hosts declaration
# -> hostname: [a-z]+, several hosts can have same hostname in != zones
# -> name: human-readable name or description
# -> profile: the host profile related to this host
# -> users: a list of existing user logins
# -> groups: used to select related users
# -> tags: added to colmena tags for deployment filtering
# -> local: true is only for the local (master) machine
# -> arch: the host architecture, default is x86_64-linux
# -> mac: mac addresses of interfaces linked to internal network separated by comma
# -> zones: key = name of the zone, value is fixed ip (optional)
# -> disko: disks description for an auto-installation with disko (only for install)
# -> services: enable DNF services on this host
# -> features: enable non-service features on this host
hosts:

#------------------------------------------------------------------------------
# Hosts: coordination
#------------------------------------------------------------------------------

  # Headscale Coordination Server
  - hostname: "hcs"
    name: "Headscale Coordination Server"
    profile: "headscale"
    ipv4:
      external: "222.222.222.222" # External IP = zone "www"
      internal: "100.64.0.2"
    services:
      headscale:
      vaultwarden:
        description: "Password & Keys"
      mattermost:
        description: "Our messaging tool"
    # disko:
    #   profile: "btrfs-1-disk"

#------------------------------------------------------------------------------
# Hosts: zone "local"
#------------------------------------------------------------------------------

  # Gateway (1.1) have a static ip 10.1.1.1
  - hostname: "gw-local"
    name: "Local gateway"
    zone: "local:1.1"
    profile: "gateway"
    aliases: ["gw"]
    arch: "x86_64-linux" # default (optional)
    tags: ["local"]
    features: ["monitoring-node", "nfs-client"]
    services:
      adguardhome: # Ad-free service
      homepage:    # A page that automatically displays all my services
      ncps:        # A package cache
      auth:        # Authentication tool (SSO)
      users:       # Users management (SSO)
      forgejo:     # A git server
      monitoring:  # Grafana node-exporter page

  # A server - 10.1.1.2
  - hostname: "homelab"
    name: "My HomeLab"
    zone: "local:1.2"
    aliases: ["home-lab"]
    profile: "server"
    users: ["darkone"]
    groups: ["global"]
    tags: ["local"]
    features: ["monitoring-node"]
    mac: "38:ff:dd:cd:8b:45"
    services:
      nfs:       # NFS server
      nextcloud: # Nextcloud server
      restic:    # Backup tool
      immich:    # Media manager
        title: "Local common photos"
        description: "Shared pictures application"
        domain: "photos"
        icon: "google-photos"
    # disko:
    #   profile: "luks-btrfs-1-disk"

  # A laptop - 10.1.2.1
  - hostname: "my-laptop"
    name: "My Laptop"
    zone: "local:2.1"
    profile: "laptop"
    groups: ["zone-local", "guests"]
    tags: ["local"]
    features: ["nfs-client"]
    mac: "f0:1f:af:14:62:a5,bc:82:56:25:b8:45"

  # USB key with DNF NixOS
  - hostname: "usb-key"
    name: "My usb key"
    zone: "local"
    profile: "portable"
    users: ["darkone"]
    # disko:
    #   profile: "luks-btrfs-1-disk"

  # 4 identical desktops - 10.1.3.x
  - hostname: "desktop-%'02s"
    name: "Common Desktop #%'02s"
    zone: "local:3.%d"
    profile: "desktop"
    range: [1, 4]
    groups: ["zone-local", "guests"]
    tags: ["local"]
    mac:
      1: "8c:dc:d4:3e:be:d1"
      2: "8c:dc:d4:3e:be:d2"
      3: "8c:dc:d4:3e:be:d3"
      4: "8c:dc:d4:3e:be:d4"
    # disko:
    #   profile: "ext4-1-disk"
    #   devices:
    #     main: "/dev/nvme0n1"

  # 2 identical laptops
  - hostname: "%s-laptop"
    name: "Ordi portable %s"
    profile: "laptop"
    groups: ["zone-local", "guests"]
    hosts: # Host groups by list of hostnames
      office:
        name: "Office Laptop"
        zone: "local:4.1"
        mac: "f0:1f:af:13:61:c1"
      saloon:
        name: "Saloon Laptop"
        zone: "local:4.2"
        mac: "f0:1f:af:13:61:c2"

#------------------------------------------------------------------------------
# Hosts: zone "lan"
#------------------------------------------------------------------------------

  # Gateway (1.1) have a static ip 10.2.1.1
  - hostname: "gw-lan"
    name: "LAN gateway"
    zone: "lan:1.1"
    profile: "gateway"
    features: ["monitoring-node"]
    services:
      adguardhome: # Ad-free service
      homepage:    # A page that automatically displays all my services
      ncps:        # A package cache
      forgejo:     # A git server
      monitoring:  # Grafana node-exporter page
      nfs:         # NFS server

  # Guest machines for LAN party
  - hostname: "lan-%'02s"
    name: "LAN host #%'02s"
    zone: "lan:2.%d"
    profile: "lan"
    range: [1, 4]
    groups: ["guests"]
    features: ["nfs-client", "monitoring-node"]
    mac:
      1: "08:00:27:03:bb:21"
      2: "08:00:27:03:bb:22"
      3: "08:00:27:03:bb:23"
      4: "08:00:27:03:bb:24"
    disko:
      profile: "ext4-1-disk"

